<h1>About</h1>
<p>It’s the plotline of so many movies and tv shows, seemingly dreaded by all who date: the friend zone.

  When someone says they’re in the friend zone, they usually mean that they want to have a more intimate, romantic, and/or sexual relationship with a person who considers them to be “just friends.”

  But we’re here to tell you something that might blow your mind: the friend zone is a myth!

  Crazy, right? We’ll give you a few minutes to let that sink in.

  We know it definitely sucks to have feelings for someone who doesn’t feel the same way about you. It’s okay to feel disappointed or hurt by that. But the reason we call the friend zone a myth is because there really is no “zone” that you can be “put into” by someone else. Everyone has the right to decide who they do and do not want to date or be intimate with.

  If someone says they’re in the friend zone, they’re usually implying that they feel entitled to another person’s affection as “payback” for the emotional investment and time spent being their “friend.” They might be thinking: I’ve been such a good friend to you, so you should be my girl/boyfriend! Or maybe: If I’m really nice to them, they’ll eventually WANT to be my girl/boyfriend!
</p>
<p>Ah, the Friend Zone. The place where you think you might be when your female crush starts talking about how hot the guy in her math class is. The place where that guy you're crushing on puts you when he starts belching loudly and scratching himself in front of you, and then pals around with you like you're one of the guys. Want to know if you're in the Friend Zone, or if the guy or girl you like also feels butterflies when you lock eyes? See Step 1 to be on your way to finding out the truth.

</p>
<p> If you are your crush's go-to person whenever something goes wrong, then you may be in the Friend Zone. Think about it. If your crush likes you back, then there will be an element of mystery in your relationship, and also an element of excitement. If your crush tells you every little thing on his or her mind or every little problem he or she has, then your crush isn't trying to impress you or cover things up, and this is probably because he or she sees you as a friend.</p>