// Place all the styles related to the friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a{
  text-decoration: none;
color: cadetblue;
}

.field{
  margin-bottom: 20px;
  margin-top: 20px;
}